.wrapper {
    max-width: 1400px;
    min-width: 300px;
    width: 100%;
    padding: 10px 7px;
    box-sizing: border-box;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    border-radius: 1.5px;
    gap: 15px;
    background-color: RGBA(40, 70, 240, 0.5);
    .products {
        width: 60%;
        min-width: 300px;
        display: flex;
        gap: 8px;
        border-right: 1px groove black;
        flex-wrap: wrap;
        transition: all 1s ease-in;
        .product {
            border-radius: 5px;
            border: 1px solid #1f1f1f;
            max-width: 300px;
            height: 150px;
            padding: 20px 10px;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            background-color: RGBA(110, 110, 255, 0.7);
            gap: 15px;
            box-shadow: 0 0 4px 0 #343434;
            .product-add {
                width: 60px;
                height: 30px;
            }
        }
    }
    .basket {
        width: 30%;
        min-width: 300px;
        display: flex;
        padding: 0px 7px;
        box-sizing: border-box;
        flex-direction: column;
        gap: 8px;
        transition: all 1s ease-in;
        .basket-products {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 5px;
            padding: 0px 3px;
            box-sizing: border-box;
            .product {
                border-radius: 3px;
                border: 1px solid #1f1f1f;
                display: flex;
                flex-direction: column;
                gap: 5px;
                padding: 5px 3px;
                box-sizing: border-box;
                background-color: RGBA(255, 255, 255, 0.4);
                backdrop-filter: blur(10px);
                .product-remove {
                    width: 100px;
                    height: 50px;
                }
            }
        }
        .basket-info {
            width: 100%;
            display: flex;
            justify-content: space-between;
            background-color: RGBA(2, 2, 2, 0.3);
            backdrop-filter: blur(10px);
            box-sizing: border-box;
            padding: 14px 7px;
            border-radius: 5px;
            align-items: center;
            min-height: 50px;
            flex-wrap: wrap;
        }
    }
}